@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  :root {
    --background: 27 27 27;
    --foreground: 255 217 13; 
    --muted: 115 115 115;
    --accent: 254 254 91; 
    /* foreground color (yellow) - RGB: 255/217/13, HEX: #FFD90D */
    /* accent HEX code:  #FEFE5B */
  }
}


@layer utilities {

}
